$color-verde: #00BF63;
$color-naranja: #F35E08;
$color-negro: #000;
$color-verde-claro: #00bf6380;
$color-blanco: #f5f3f3;
$color-gris-linear: #c0b3b3;
$color-gris-oscuro: #808080;
$color-gris-pros: #b2a9a9;